.books-container {
  margin-top: 3.5rem;
  margin-bottom: 3rem;
}

.container {
  text-align: center;
}

.top-bar {
  display: flex;
  align-items: center;
  justify-content: center; 
  margin-bottom: 20px; /* Space between search bar and book list */
}

.addBookButton {
  margin-top: 2px;
  background-color: #007bff;
  width: 45px;
  height: 45px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  margin-left: 10px;
}

.addBookButton:hover {
  background-color: #0064cf; /* Darker shade on hover */
}

.plus {
  font-size: 28px; /* Increase the font size */
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 40px;
}

.search-bar {
  width: 100%;
  max-width: 500px;
  padding: 0.5rem;
  border: 1px solid #134caff8;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.208);
  color: #000;
  border-color: #000;
}

.books-grid {
  margin-top: 90px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  row-gap: 60px;
  justify-items: center;
}

.book-card {
  width: 150px;
  text-align: left;
  background-color: #f9f9f900;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(255, 255, 255, 0);
  overflow: hidden;
  transition: transform 0.2s ease-in-out;
}

.book-card:hover {
  transform: scale(1.05);
}

.book-image {
  height: 220px;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.book-title {
  font-weight: 600;
  margin-top: 10px;
}

.book-author {
  font-size: 15px;
  color: #777;
  margin-top: -10px;
  margin-bottom: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.book-rating {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  justify-content: left;
  margin-top: 5px;
}

.star-icon {
  color: #facc15;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 2.5rem;
}

.view-all-button {
  cursor: pointer;
  background-color: #007bff;
  color: white;
  padding: 0.5rem 1.25rem;
  border-radius: 25px;
  border: none;
  font-size: 1rem;
}

.view-all-button:hover {
  background-color: #0064cf;
}

@media (max-width: 768px) {
  .books-grid {
    grid-template-columns: repeat(2, 1fr); /* 2 books per row on smaller screens */
  }
}

@media (max-width: 480px) {
  .books-grid {
    grid-template-columns: 1fr; /* 1 book per row on very small screens */
  }
}

.addBookButton-wrapper {
  position: relative;
  display: inline-block;
}

.tooltip {
  position: absolute;
  top: 56px; 
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.538);
  color: white;
  padding: 6px 10px;
  font-size: 12px;
  border-radius: 5px;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
}

.addBookButton-wrapper:hover .tooltip {
  opacity: 1;
  visibility: visible;
}

