@use "../../style" as style;

.home {
  padding: 20px 70px;
  background-color: var(--card-bg);
  color: var(--text-color);
  transition: background-color 0.4s ease, color 0.4s ease;
  min-height: calc(100vh - 80px); // Adjust if needed based on your navbar height
  
  &.dark {
    background-color: var(--card-bg);
    color: var(--text-color);
  }
  
  @media (max-width: 480px) {
    padding: 10px;
  }
  
  @media (min-width: 481px) and (max-width: 1024px) {
    padding: 20px;
  }
}