/* comingsoon.css */

.comingsoon-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	text-align: center;
	padding: 20px;
}

.comingsoon-image {
	width: 300px;
	max-width: 150%;
	margin-bottom: 20px;
}

h1 {
	font-size: 32px;
	color: #222;
	margin-bottom: 15px;
}

p {
	font-size: 18px;
	color: #444;
	margin-bottom: 10px;
}

.comingsoon-btn {
	padding: 12px 24px;
	background: #ff4500;
	color: white;
	text-decoration: none;
	border-radius: 50px;
	font-size: 16px;
	transition: 0.3s;
	border: none;
	cursor: pointer;
}

.comingsoon-btn:hover {
	background: #e03e00;
}