.maintenance-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	text-align: center;
	padding: 20px;
}

.maintenance-image {
	width: 300px;
	max-width: 150%;
	margin-bottom: 20px;
}

h1 {
	font-size: 28px;
	color: #333;
	margin-bottom: 10px;
}

p {
	font-size: 16px;
	color: #555;
	margin-bottom: 10px;
}

.maintenance-btn {
	padding: 10px 20px;
	background: #007bff;
	color: white;
	text-decoration: none;
	border-radius: 5px;
	font-size: 16px;
	transition: 0.3s;
	border-radius: 50px;
	border: #0057b322;
}

.maintenance-btn:hover {
	background: #0056b3;
}